---
import Favicon from '../../../public/favicon.svg';
import FaviconLight from '../../../public/favicon_light.svg';

interface Props {
  class?: string;
}

const { class: className = 'h-6 w-6' } = Astro.props;
---

<span class:list={[className, 'inline-block']} aria-hidden="true">
  <FaviconLight class="logo-mark-light h-full w-full" focusable="false" />
  <Favicon class="logo-mark-dark h-full w-full" focusable="false" />
</span>
